body {
  margin: 0px;
  font-family: 'Montserrat';
  font-style: normal;
}

.slider_main {
  background: #202732;
}

.main_slider_block {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 33px;
  display: -ms-grid;
  display: grid;
  margin-left: 34px;
  -ms-grid-columns: 195px 150px minmax(100px, 338px) minmax(100px, 200px) 180px (135px)[4];
      grid-template-columns: 195px 150px minmax(100px, 338px) minmax(100px, 200px) 180px repeat(4, 135px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  -ms-grid-rows: 43px;
      grid-template-rows: 43px;
}

@media (max-width: 650px) {
  .main_slider_block {
    margin-left: 20px;
  }
}

.main_slider_block .search {
  position: relative;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.main_slider_block button {
  background: url("../img/search.svg");
  width: 1rem;
  height: 19px;
  position: absolute;
  border: none;
  right: 16px;
  top: 12px;
}

@media (max-width: 650px) {
  .main_slider_block button {
    position: relative;
    right: initial;
    top: initial;
    margin-top: 10px;
    /*margin-left: 15px*/
  }
}

.main_slider_block input {
  border: 1px solid #A9FF35;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px 12px 16px;
  width: 100%;
  background: initial;
  color: #A9FF35;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.main_slider_block input::-webkit-input-placeholder {
  color: #A9FF35;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.main_slider_block input:-ms-input-placeholder {
  color: #A9FF35;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.main_slider_block input::-ms-input-placeholder {
  color: #A9FF35;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.main_slider_block input::placeholder {
  color: #A9FF35;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.main_slider_block .city {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.main_slider_block .tel {
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.main_slider_block .tel .icon {
  background: url("../img/call_green.svg");
  content: '';
  width: 14px;
  height: 15px;
  display: -ms-grid;
  display: grid;
  position: absolute;
  left: -22px;
}

.main_slider_block .tel .add_call {
  color: #A9FF35;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  padding-top: 4px;
  display: inline-block;
}

@media (max-width: 1420px) {
  .main_slider_block {
    -ms-grid-columns: 145px 150px minmax(150px, 338px) minmax(100px, 200px) 180px 135px 50px 135px 135px;
        grid-template-columns: 145px 150px minmax(150px, 338px) minmax(100px, 200px) 180px 135px 50px 135px 135px;
  }
  .main_slider_block .compare .title {
    display: none;
  }
}

@media (max-width: 1350px) {
  .main_slider_block {
    -ms-grid-columns: 145px 115px minmax(150px, 338px) minmax(100px, 200px) 180px 135px 50px 50px 135px;
        grid-template-columns: 145px 115px minmax(150px, 338px) minmax(100px, 200px) 180px 135px 50px 50px 135px;
  }
  .main_slider_block .liked .title {
    display: none;
  }
}

@media (max-width: 1160px) {
  .main_slider_block {
    -ms-grid-columns: 145px 115px minmax(150px, 338px) minmax(130px, 200px) 180px 50px 50px 50px 135px;
        grid-template-columns: 145px 115px minmax(150px, 338px) minmax(130px, 200px) 180px 50px 50px 50px 135px;
  }
  .main_slider_block .go_cab .title, .main_slider_block .go_cab .text {
    display: none;
  }
}

@media (max-width: 1060px) {
  .main_slider_block {
    -ms-grid-columns: 145px 115px minmax(150px, 338px) 37px 180px 50px 50px 50px 135px;
        grid-template-columns: 145px 115px minmax(150px, 338px) 37px 180px 50px 50px 50px 135px;
  }
  .main_slider_block .city span {
    display: none;
  }
}

@media (max-width: 1024px) {
  .main_slider_block {
    -ms-grid-columns: 100px 115px minmax(150px, 338px) 37px 140px 50px 50px 50px 135px;
        grid-template-columns: 100px 115px minmax(150px, 338px) 37px 140px 50px 50px 50px 135px;
  }
}

@media (max-width: 870px) {
  .main_slider_block {
    -ms-grid-columns: 100px 115px minmax(150px, 338px) 37px 140px 50px 50px 50px 50px;
        grid-template-columns: 100px 115px minmax(150px, 338px) 37px 140px 50px 50px 50px 50px;
  }
  .main_slider_block .backet .title, .main_slider_block .backet .text {
    display: none;
  }
}

@media (max-width: 800px) {
  .main_slider_block {
    -ms-grid-columns: 100px 148px 143px  37px 21px  50px 50px 50px 50px;
        grid-template-columns: 100px 148px 143px  37px 21px  50px 50px 50px 50px;
  }
  .main_slider_block .search input {
    display: none;
  }
  .main_slider_block .search {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .main_slider_block .tel {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (max-width: 680px) {
  .main_slider_block {
    -ms-grid-columns: 100px 148px 25px  37px 21px  50px 50px 50px 50px;
        grid-template-columns: 100px 148px 25px  37px 21px  50px 50px 50px 50px;
  }
  .main_slider_block .tel .add_call, .main_slider_block .tel .title {
    display: none;
  }
}

@media (max-width: 650px) {
  .main_slider_block {
    -ms-grid-columns: minmax(10px, 31px) minmax(10px, 50px) 1fr minmax(5px, 60px) minmax(27px, 33px);
        grid-template-columns: minmax(10px, 31px) minmax(10px, 50px) 1fr minmax(5px, 60px) minmax(27px, 33px);
    position: -webkit-sticky;
    position: sticky;
  }
  .main_slider_block .liked, .main_slider_block .compare, .main_slider_block .tel, .main_slider_block .city {
    display: none;
  }
  .main_slider_block .button_menu {
    background-image: url(../img/menu_mobile.svg);
    width: 14px;
    height: 12px;
    margin-top: 14px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .main_slider_block .search {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .main_slider_block .logo_main {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-inline: auto;
  }
  .main_slider_block .go_cab {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .main_slider_block .go_cab .icon {
    left: -19px;
  }
  .main_slider_block .backet {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .main_slider_block .backet .icon {
    position: relative;
    left: initial;
    top: initial;
    right: 11px;
  }
}

.title {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.go_cab {
  position: relative;
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.go_cab .icon {
  background: url("../img/vhod.svg");
  content: '';
  width: 16px;
  height: 17px;
  display: -ms-grid;
  display: grid;
  position: absolute;
  left: -25px;
}

.go_cab .text {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  display: -ms-grid;
  display: grid;
  opacity: 0.5;
}

.compare {
  position: relative;
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.compare .icon {
  background: url("../img/compare_green.svg");
  content: '';
  width: 16px;
  height: 17px;
  display: -ms-grid;
  display: grid;
  position: absolute;
  left: -25px;
  top: 10px;
}

.liked {
  position: relative;
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8;
}

.liked .icon {
  background: url("../img/liked_green.svg");
  content: '';
  width: 16px;
  height: 17px;
  display: -ms-grid;
  display: grid;
  position: absolute;
  left: -25px;
  top: 10px;
}

.backet {
  position: relative;
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 10;
      -ms-flex-order: 9;
          order: 9;
}

.backet .icon {
  background: url("../img/backet.svg");
  content: '';
  width: 16px;
  height: 17px;
  display: -ms-grid;
  display: grid;
  position: absolute;
  left: -25px;
  top: 10px;
}

.backet .text {
  display: -ms-grid;
  display: grid;
  padding-top: 4px;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  opacity: 0.5;
}

.logo_main {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  background-image: url("../img/logo_main.svg");
  width: 131px;
  height: 47px;
}

@media (max-width: 1024px) {
  .logo_main {
    margin-top: 10px;
    background-image: url("../img/logo_1024.svg");
    width: 88px;
    height: 21px;
  }
}

.button_menu {
  background-image: url("../img/button_menu.svg");
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 100px;
  height: 41px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.slider_main_block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(1000px, 1185px) 375px;
      grid-template-columns: minmax(1000px, 1185px) 375px;
  place-content: center;
  margin-top: 35px;
  grid-gap: 30px;
  margin-left: 30px;
  margin-right: 30px;
  /*justify-content: center*/
}

@media (min-width: 768px) and (max-width: 1550px) {
  .slider_main_block {
    -ms-grid-rows: 320px;
    -ms-grid-columns: minmax(580px, 100%) 290px;
        grid-template: 320px/minmax(580px, 100%) 290px;
  }
}

@media (max-width: 930px) {
  .slider_main_block {
    -ms-grid-rows: 320px;
    -ms-grid-columns: minmax(280px, 884px);
        grid-template: 320px/minmax(280px, 884px);
  }
}

@media (max-width: 650px) {
  .slider_main_block {
    -ms-grid-rows: 400px;
    -ms-grid-columns: minmax(280px, 884px);
        grid-template: 400px/minmax(280px, 884px);
  }
}

.slider_main_block .big {
  max-width: 1184px;
  background-color: #A9FF35;
  border-radius: 40px;
  position: relative;
}

.slider_main_block .big:after {
  background-image: url("../img/mask-banner-big1.png");
  content: '';
  height: 400px;
  display: block;
}

@media (min-width: 768px) and (max-width: 1550px) {
  .slider_main_block .big:after {
    background-image: url("../img/mask-banner-big_.png");
    height: 320px;
    background-position: right;
    background-repeat: no-repeat;
  }
}

@media (max-width: 930px) {
  .slider_main_block .big:after {
    background-image: url("../img/mask-banner-big_.png");
    height: 320px;
    background-position: right;
    background-repeat: no-repeat;
  }
}

@media (max-width: 650px) {
  .slider_main_block .big:after {
    background-image: url("../img/mask_banner_big_mob.png");
    height: 16rem;
    background-position: bottom center;
    background-repeat: no-repeat;
    bottom: 3.5rem;
    position: relative;
  }
}

.slider_main_block .small {
  position: relative;
}

.slider_main_block .small:after {
  background-image: url("../img/mask-banner-small.png");
  content: '';
  height: 400px;
  display: block;
}

@media (min-width: 768px) and (max-width: 1550px) {
  .slider_main_block .small {
    background-color: #EDEDED;
    border-radius: 40px;
  }
  .slider_main_block .small:after {
    background-image: url("../img/mask-banner-small-medium.png");
    height: 320px;
  }
}

@media (max-width: 930px) {
  .slider_main_block .small:after {
    background-image: url("../img/mask-banner-small-mobile.png");
    height: 160px;
    background-color: #EDEDED;
    border-radius: 40px;
  }
}

.razdel_main_page {
  display: -ms-grid;
  display: grid;
  margin-left: 30px;
  margin-right: 30px;
  -ms-grid-columns: (minmax(200px, 240px))[6];
      grid-template-columns: repeat(6, minmax(200px, 240px));
  margin-top: 30px;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) and (max-width: 1550px) {
  .razdel_main_page {
    -ms-grid-columns: (minmax(200px, 100%))[3];
        grid-template-columns: repeat(3, minmax(200px, 100%));
  }
}

@media (max-width: 768px) {
  .razdel_main_page {
    -ms-grid-columns: (minmax(113px, 100%))[2];
        grid-template-columns: repeat(2, minmax(113px, 100%));
    -ms-grid-rows: (160px)[3];
        grid-template-rows: repeat(3, 160px);
  }
}

@media (min-width: 650px) and (max-width: 768px) {
  .razdel_main_page {
    -ms-grid-columns: (minmax(183px, 100%))[3];
        grid-template-columns: repeat(3, minmax(183px, 100%));
    -ms-grid-rows: 160px  160px;
        grid-template-rows: 160px  160px;
  }
}

.razdel_main_page div {
  background: linear-gradient(247.73deg, #1E242E 0%, #2B3547 100%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 48px;
}

@media screen and (max-width: 650px) {
  .razdel_main_page div {
    border-radius: 24px;
  }
}

.razdel_main_page div:after {
  display: block;
  content: "";
  float: right;
}

.razdel_main_page div:nth-child(1):after {
  background: url("../img/iphone.png");
  width: 181px;
  height: 152px;
  margin-left: 60px;
  margin-top: 16px;
  border-bottom-right-radius: 46px;
}

@media (min-width: 650px) and (max-width: 768px) {
  .razdel_main_page div:nth-child(1):after {
    width: 164px;
    height: 96px;
  }
}

@media (max-width: 768px) {
  .razdel_main_page div:nth-child(1):after {
    background-size: cover;
    width: 116px;
    height: 91px;
    margin-top: 25px;
  }
}

@media (max-width: 650px) {
  .razdel_main_page div:nth-child(1):after {
    margin-top: 68px;
    border-bottom-right-radius: 24px;
  }
}

.razdel_main_page div:nth-child(2):after {
  background: url("../img/phone.png");
  width: 183px;
  height: 140px;
  margin-left: 59px;
  margin-top: 28px;
  border-bottom-right-radius: 49px;
}

@media (min-width: 650px) and (max-width: 768px) {
  .razdel_main_page div:nth-child(2):after {
    width: 164px;
    height: 84px;
  }
}

@media (max-width: 768px) {
  .razdel_main_page div:nth-child(2):after {
    background-size: cover;
    width: 108px;
    height: 94px;
    margin-top: 22px;
  }
}

@media (max-width: 650px) {
  .razdel_main_page div:nth-child(2):after {
    margin-top: 65px;
    border-bottom-right-radius: 24px;
  }
}

.razdel_main_page div:nth-child(3):after {
  background-image: url("../img/desc.png");
  width: 155px;
  height: 157px;
  margin-left: 86px;
  border-bottom-right-radius: 52px;
  margin-top: 11px;
}

@media (max-width: 768px) {
  .razdel_main_page div:nth-child(3):after {
    width: 100px;
    height: 102px;
    background-size: cover;
    margin-top: 16px;
  }
}

@media (max-width: 650px) {
  .razdel_main_page div:nth-child(3):after {
    margin-top: 65px;
    border-bottom-right-radius: 33px;
  }
}

.razdel_main_page div:nth-child(4):after {
  background: url("../img/watch.png");
  width: 130px;
  height: 146px;
  margin-left: 111px;
  border-bottom-right-radius: 48px;
  margin-top: 22px;
}

@media (max-width: 768px) {
  .razdel_main_page div:nth-child(4):after {
    margin-top: -15px;
    width: 114px;
    height: 130px;
  }
}

@media (max-width: 650px) {
  .razdel_main_page div:nth-child(4):after {
    width: 111px;
    height: 94px;
    margin-top: 65px;
    border-bottom-right-radius: 24px;
  }
}

.razdel_main_page div:nth-child(5):after {
  background: url("../img/airpods.png");
  width: 174px;
  height: 120px;
  margin-left: 63px;
  margin-top: 18px;
}

@media (min-width: 768px) and (max-width: 1550px) {
  .razdel_main_page div:nth-child(5):after {
    margin-top: 48px;
  }
}

@media (max-width: 768px) {
  .razdel_main_page div:nth-child(5):after {
    margin-top: 20px;
    width: 174px;
    height: 96px;
    margin-left: 0px;
  }
}

@media (max-width: 650px) {
  .razdel_main_page div:nth-child(5):after {
    width: 111px;
    height: 94px;
    margin-top: 65px;
    border-bottom-right-radius: 24px;
  }
}

.razdel_main_page div:nth-child(6):after {
  background: url("../img/protect.png");
  width: 104px;
  height: 131px;
  margin-right: 40px;
  border-bottom-right-radius: 1px;
  margin-top: 37px;
}

@media (max-width: 768px) {
  .razdel_main_page div:nth-child(6):after {
    margin-top: 19px;
    width: 104px;
    height: 97px;
  }
}

@media (max-width: 650px) {
  .razdel_main_page div:nth-child(6):after {
    width: 104px;
    height: 94px;
    margin-top: 65px;
    margin-right: 0px;
    border-bottom-right-radius: 24px;
  }
}

@media (max-width: 400px) {
  .razdel_main_page div:nth-child(6):after {
    background-size: contain;
  }
}

.razdel_main_page span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 125%;
  color: #FFFFFF;
  padding-top: 46px;
  padding-left: 33px;
  display: block;
}

@media (min-width: 768px) and (max-width: 1550px) {
  .razdel_main_page span {
    font-size: 20px;
  }
}

@media (max-width: 990px) {
  .razdel_main_page span {
    font-size: 16px;
    padding-left: 32px;
    padding-top: 24px;
  }
}

@media (max-width: 650px) {
  .razdel_main_page span {
    padding-top: 22px;
    padding-left: 22px;
    font-size: 14px;
    position: absolute;
    width: 7rem;
    display: inline-block;
  }
}

.razdel_main_page img {
  float: right;
  margin-top: -58px;
  display: block;
}

.info-main {
  display: -ms-grid;
  display: grid;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 80px;
  -ms-grid-columns: (minmax(200px, 375px))[4];
      grid-template-columns: repeat(4, minmax(200px, 375px));
  grid-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
}

@media (min-width: 608px) and (max-width: 1550px) {
  .info-main {
    -ms-grid-columns: (minmax(200px, 100%))[4];
        grid-template-columns: repeat(4, minmax(200px, 100%));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 769px) and (max-width: 990px) {
  .info-main {
    -ms-grid-columns: (minmax(200px, 462px))[2];
        grid-template-columns: repeat(2, minmax(200px, 462px));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: initial;
  }
}

@media (max-width: 768px) {
  .info-main {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    margin-top: 62px;
  }
}

.info-main .text {
  border: 1px solid #A9FF35;
  border-radius: 16px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(80px, 85px) 1fr;
      grid-template-columns: minmax(80px, 85px) 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-width: 1200px) {
  .info-main .text {
    /*grid-template:  63px minmax(80px, 100%) / 1fr*/
    -ms-grid-rows: auto minmax(24px, 100%);
    -ms-grid-columns: 62px 1fr;
        grid-template: auto minmax(24px, 100%)/62px 1fr;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 16px;
    justify-items: baseline;
  }
}

@media (min-width: 769px) and (max-width: 990px) {
  .info-main .text {
    -ms-grid-rows: minmax(100px, auto);
    -ms-grid-columns: 58px 1fr;
        grid-template: minmax(100px, auto)/58px 1fr;
  }
}

.info-main .text span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
  color: #A9FF35;
  display: block;
  margin-bottom: 10px;
}

@media (min-width: 768px) and (max-width: 1550px) {
  .info-main .text span {
    font-size: 16px;
  }
}

.info-main .text > div:nth-child(2) {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  color: #FFFFFF;
}

@media (min-width: 768px) and (max-width: 1550px) {
  .info-main .text > div:nth-child(2) {
    -ms-flex-item-align: self-start;
        -ms-grid-row-align: self-start;
        align-self: self-start;
  }
}

.button_slider {
  padding: 16px 24px;
  width: 133px;
  height: 49px;
  border: 1.2px solid #1E242E;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  position: absolute;
  color: #1E242E;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.big .button_slider {
  left: 96px;
  top: 269px;
}

@media (min-width: 608px) and (max-width: 1550px) {
  .big .button_slider {
    left: 56px;
    top: 212px;
  }
}

@media (max-width: 650px) {
  .big .button_slider {
    position: relative;
    left: initial;
    top: initial;
    margin-inline: auto;
    margin-top: 24px;
  }
}

.small .button_slider {
  left: 48px;
  top: 269px;
}

@media (min-width: 768px) and (max-width: 1550px) {
  .small .button_slider {
    left: 40px;
    top: 215px;
  }
}

@media (min-width: 321px) and (max-width: 930px) {
  .small .button_slider {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 16px 24px;
    position: absolute;
    width: 133px;
    height: 49px;
    left: 475px;
    top: 55px;
    border: 1.2px solid #1E242E;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 4px;
  }
}

@media (max-width: 690px) {
  .small .button_slider {
    display: none;
  }
}

.small .text {
  position: absolute;
  color: #1E242E;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  width: 174px;
  height: 144px;
  left: 48px;
  top: 61px;
  font-size: 40px;
}

@media (min-width: 608px) and (max-width: 1550px) {
  .small .text {
    width: 174px;
    height: 114px;
    left: 40px;
    top: 64px;
    font-size: 32px;
  }
}

@media (min-width: 321px) and (max-width: 930px) {
  .small .text {
    position: absolute;
    width: 133px;
    height: 87px;
    left: 64px;
    top: 36px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
  }
}

.big .title {
  position: absolute;
  font-family: 'Montserrat';
  font-style: normal;
  line-height: 120%;
  font-weight: 600;
  color: #1E242E;
  width: 180px;
  height: 29px;
  left: 96px;
  top: 88px;
  font-size: 24px;
}

@media (min-width: 608px) and (max-width: 1550px) {
  .big .title {
    width: 150px;
    height: 24px;
    left: 56px;
    top: 64px;
    font-size: 20px;
  }
}

@media (max-width: 650px) {
  .big .title {
    width: initial;
    height: 29px;
    font-size: 14px;
    text-align: center;
    position: relative;
    margin-top: 40px;
    top: initial;
    left: initial;
  }
}

.big .text {
  position: absolute;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  color: #1E242E;
  line-height: 120%;
  width: 247px;
  height: 96px;
  left: 96px;
  top: 141px;
  font-size: 40px;
}

@media (min-width: 608px) and (max-width: 1550px) {
  .big .text {
    width: 198px;
    height: 76px;
    left: 56px;
    top: 104px;
    font-size: 32px;
  }
}

@media (max-width: 650px) {
  .big .text {
    width: 149px;
    margin-inline: auto;
    height: initial;
    left: initial;
    top: initial;
    font-size: 24px;
    text-align: center;
    position: relative;
  }
}

.seren {
  display: -ms-grid;
  display: grid;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  padding-bottom: 80px;
  grid-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 81px;
  background-color: #EDEDED;
}

@media (max-width: 700px) {
  .seren {
    padding-top: 56px;
  }
}

.seren div, .seren span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
}

.seren .name {
  color: #9860F7;
  margin-left: 30px;
  font-size: 12px;
  line-height: 145%;
  text-transform: uppercase;
}

@media (max-width: 700px) {
  .seren .name {
    text-align: center;
    margin-left: 0px;
  }
}

.seren .all_tovar {
  color: #9860F7;
  font-size: 14px;
  line-height: 17px;
  -ms-grid-column-align: end;
      justify-self: end;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -ms-grid-columns: 100px 20px;
      grid-template-columns: 100px 20px;
  gap: 12px;
  margin-right: 30px;
}

@media (max-width: 700px) {
  .seren .all_tovar {
    display: none;
  }
}

.seren .all_tovar:after {
  display: block;
  content: "";
  float: right;
  margin-top: 3px;
  background: url(../img/strelka.svg);
  width: 20px;
  height: 12px;
}

.seren .title {
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  color: #1E242E;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  margin-left: 30px;
  margin-right: 30px;
}

@media (max-width: 700px) {
  .seren .title {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    font-size: 24px;
    text-align: center;
    margin-bottom: -18px;
    margin-top: -18px;
  }
}

.seren .desc {
  font-size: 14px;
  line-height: 145%;
  color: #1E242E;
  margin-left: 30px;
  margin-right: 30px;
}

@media (max-width: 700px) {
  .seren .desc {
    text-align: center;
  }
}

.cart {
  background: #FFFFFF;
  border: 1px solid #E5EFFE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 32px;
  padding: 32px 40px 40px;
}

@media (min-width: 768px) and (max-width: 1550px) {
  .cart {
    padding: 24px 32px 32px;
  }
}

@media (max-width: 700px) {
  .cart {
    padding: 24px 24px 32px;
  }
}

.label .new {
  padding: 6px 12px;
  width: 90px;
  height: 29px;
  background: #E8564E;
  border-radius: 20px;
}

.label .sale {
  padding: 6px 12px;
  width: 50px;
  height: 29px;
  margin-left: 10px;
  background: #3E45EF;
  border-radius: 20px;
}

.label {
  font-size: 12px;
  line-height: 145%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.cart .name_tovar {
  font-size: 14px;
  line-height: 135%;
  padding-bottom: 16px;
  padding-top: 16px;
  height: 76px;
  color: #202732;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

@media (min-width: 768px) and (max-width: 1550px) {
  .cart .name_tovar {
    font-size: 12px;
    height: 80px;
  }
}

.cart_block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 374px))[4];
      grid-template-columns: repeat(4, minmax(200px, 374px));
  grid-gap: 29px;
  margin-left: 30px;
  margin-right: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1280px) {
  .cart_block {
    -ms-grid-columns: (minmax(200px, 100%))[3];
        grid-template-columns: repeat(3, minmax(200px, 100%));
  }
}

@media (max-width: 850px) {
  .cart_block {
    -ms-grid-columns: (minmax(200px, 100%))[2];
        grid-template-columns: repeat(2, minmax(200px, 100%));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 580px) {
  .cart_block {
    -ms-grid-columns: (minmax(200px, 100%))[1];
        grid-template-columns: repeat(1, minmax(200px, 100%));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.seren a {
  -webkit-text-decoration: auto;
          text-decoration: auto;
  color: currentcolor;
}

.cart .img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  height: 240px;
  background-size: cover;
}

.cart .price {
  font-weight: 600;
  font-size: 20px;
  line-height: 135%;
  color: #202732;
}

.cart button {
  padding: 16px 24px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #1E242E;
  width: 124px;
  height: 49px;
  background: #A9FF35;
  border-radius: 4px;
}

.cart .compare {
  background: url("../img/compare.svg");
  width: 49px;
  height: 48px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.cart .liked {
  background: url("../img/liked.svg");
  width: 49px;
  height: 48px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.cart .block_button {
  margin-top: 16px;
  -ms-grid-columns: 123px 1fr 1fr;
      grid-template-columns: 123px 1fr 1fr;
  display: -ms-grid;
  display: grid;
  max-width: 235px;
}

.seren.black {
  background: #202732;
}

.seren.black .title, .seren.black .desc, .seren.news .title, .seren.news .desc {
  color: #FFFFFF;
}

.seren.black .name, .seren.black .all_tovar, .seren.news .name, .seren.news .all_tovar {
  color: #A9FF35;
}

.seren.black .all_tovar:after, .seren.news .all_tovar:after {
  background: url(../img/strelka_green.svg);
}

.seren .desc {
  max-width: 763px;
}

.seren.news {
  background: #1B1C1B;
}

.seren.news .cart_block {
  margin-top: 30px;
}

.seren.news .cart {
  padding: 0px;
  background: linear-gradient(247.73deg, #1E242E 0%, #2B3547 100%);
  border-radius: 32px;
  border: none;
  height: 564px;
  position: relative;
}

.seren.news .cart .img {
  border-radius: 32px 32px 0px 0px;
  position: relative;
}

.seren.news .cart .label {
  position: absolute;
  width: 94px;
  height: 29px;
  left: 16px;
  top: 195px;
  background: #1E242E;
  border-radius: 20px;
  font-size: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.seren.news .cart .label span {
  padding: 7px 12px;
  display: block;
}

.seren.news .content {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 24px;
  color: #FFFFFF;
}

@media (max-width: 985px) {
  .seren.news .content {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.seren.news .date {
  font-size: 12px;
  line-height: 145%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.seren.news .cart .name_tovar {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 125%;
  padding-bottom: 8px;
}

@media (max-width: 985px) {
  .seren.news .cart .name_tovar {
    font-size: 1rem;
  }
}

.seren.news .cart .prev {
  font-weight: 400;
  font-size: 14px;
  line-height: 135%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}

@media (max-width: 985px) {
  .seren.news .cart .prev {
    font-size: 12px;
  }
}

.seren.news .more {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #A9FF35;
  position: absolute;
  bottom: 26px;
}

.seren.news .more a {
  padding-right: 11px;
}

.seren.news .more:after {
  background: url("../img/more.svg");
  content: "";
  width: 20px;
  height: 12px;
  display: inline-block;
}

.contact_block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  background: #1E242E;
}

@media (max-width: 1354px) {
  .contact_block {
    -ms-grid-columns: 1fr 1.5fr;
        grid-template-columns: 1fr 1.5fr;
  }
}

@media (max-width: 1100px) {
  .contact_block {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .contact_block .submit_form {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 750px) {
  .contact_block {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.contact_block .picture_contact {
  background: url("../img/picture_contact.png");
  /*width: 1213px*/
  height: 553px;
  background-size: cover;
}

.contact_block .submit_form {
  width: 375px;
  margin: 0 auto;
  padding-top: 80px;
}

@media (max-width: 900px) {
  .contact_block .submit_form {
    width: initial;
    margin-right: 30px;
    margin-left: 30px;
  }
}

.contact_block .name_contact {
  font-weight: 400;
  font-size: 12px;
  line-height: 145%;
  color: #A9FF35;
  text-transform: uppercase;
}

.contact_block .desc_contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 145%;
  color: #FFFFFF;
  max-width: 335px;
}

.contact_block .title_contact {
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  color: #FFFFFF;
  padding-top: 16px;
  padding-bottom: 16px;
}

.contact_block form input[name=name], .contact_block form input[name=tel] {
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 49px;
  padding: 16px;
  background: initial;
  color: white;
}

.contact_block form input[name=name]::-webkit-input-placeholder, .contact_block form input[name=tel]::-webkit-input-placeholder {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.contact_block form input[name=name]:-ms-input-placeholder, .contact_block form input[name=tel]:-ms-input-placeholder {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.contact_block form input[name=name]::-ms-input-placeholder, .contact_block form input[name=tel]::-ms-input-placeholder {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.contact_block form input[name=name]::placeholder, .contact_block form input[name=tel]::placeholder {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.contact_block form input[name=tel] {
  margin-bottom: 16px;
}

.contact_block form input[name=name] {
  margin-top: 24px;
  margin-bottom: 12px;
}

.contact_block form input[type=checkbox] {
  width: 16px;
  height: 16px;
}

.contact_block form .check_text {
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: #FFFFFF;
  margin-top: 16px;
}

@media (max-width: 900px) {
  .contact_block form .check_text {
    font-size: 0.7rem;
  }
}

.contact_block form a {
  text-decoration: none;
  color: #A9FF35;
}

.contact_block form button {
  border-radius: 4px;
  padding: 16px 24px;
  width: 100%;
  height: 49px;
  background: #A9FF35;
  margin-top: 40px;
  border: none;
}

.contact_block form .check {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: lightgray;
}

.contact_block form .check:hover input ~ .mark {
  background-color: #A9FF35;
}

.contact_block form .check input:checked ~ .mark {
  background-color: #A9FF35;
}

footer {
  background: #1B1C1B;
}

footer .footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(200px, 400px) minmax(100px, 400px) minmax(100px, 400px) minmax(200px, 400px);
      grid-template-columns: minmax(200px, 400px) minmax(100px, 400px) minmax(100px, 400px) minmax(200px, 400px);
  padding-bottom: 30px;
  color: #FFFFFF;
  padding-top: 64px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 40px;
}

@media (max-width: 940px) {
  footer .footer {
    font-size: 12px;
  }
}

@media (max-width: 700px) {
  footer .footer {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 470px) {
  footer .footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

footer .footer .menu_bottom {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

footer .footer .menu_bottom.second {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

footer .footer .logo_bottom {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

footer .footer .logo_bottom img {
  display: -ms-grid;
  display: grid;
}

footer .footer .logo_bottom span {
  font-weight: 400;
  font-size: 14px;
  line-height: 145%;
  display: -ms-grid;
  display: grid;
  max-width: 204px;
}

footer .footer .logo_bottom .first_span {
  padding-bottom: 32px;
  padding-top: 16px;
}

footer .footer .menu_bottom > span, footer .footer .contact_bottom > span {
  font-weight: 600;
  font-size: 14px;
  line-height: 145%;
  text-transform: uppercase;
  display: -ms-grid;
  display: grid;
}

@media (max-width: 1024px) {
  footer .footer .menu_bottom > span, footer .footer .contact_bottom > span {
    font-size: 12px;
  }
}

footer .footer .menu_bottom div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (48px)[3];
      grid-template-rows: repeat(3, 48px);
  margin-top: 24px;
}

@media (max-width: 980px) {
  footer .footer .menu_bottom div {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (39px)[5];
        grid-template-rows: repeat(5, 39px);
  }
}

footer .footer .menu_bottom div a {
  font-weight: 400;
  font-size: 14px;
  line-height: 145%;
  color: white;
  text-decoration: none;
}

@media (max-width: 1024px) {
  footer .footer .menu_bottom div a {
    font-size: 12px;
  }
}

footer .footer .contact_bottom {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

footer .footer .contact_bottom .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 50px;
}

footer .footer .contact_bottom span {
  padding-bottom: 10px;
}

footer .footer .contact_bottom .facebook {
  background-image: url("../img/facebook.svg");
  width: 10px;
  height: 20px;
}

footer .footer .contact_bottom .instagram {
  background-image: url("../img/instagram.svg");
  width: 15px;
  height: 16px;
}

footer .footer .contact_bottom .youtube {
  background-image: url("../img/youtube.svg");
  width: 18px;
  height: 14px;
}

footer .footer .contact_bottom .facebook, footer .footer .contact_bottom .youtube, footer .footer .contact_bottom .instagram {
  display: inline-block;
  margin-right: 21px;
}

@media (max-width: 700px) {
  footer .footer .menu_bottom {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  footer .footer .menu_bottom.second {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  footer .footer .logo_bottom {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  footer .footer .contact_bottom {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}
/*# sourceMappingURL=main.css.map */